#----------------------------------
# machine configuration to run Halvade on
# see https://github.com/ddcap/halvade/wiki/Halvade-Manual for details on the options
#----------------------------------

#----------------------------------
# required Halvade arguments
#----------------------------------
nodes=2
mem=16
vcores=30
B="s3://gcbibucket/halvade/bin.tar.gz"
D="s3://gcbibucket/ref/dbsnp_138.hg19.vcf"
R="s3://gcbibucket/ref/hg19"
SG="s3://gcbibucket/ref/stargsmall/"

#----------------------------------
# only used when using *** Amazon EMR - comment if not used***
#----------------------------------
emr_jar="s3://gcbibucket/halvade/halvade-1.0-SNAPSHOT-jar-with-dependencies.jar"
emr_script="s3://gcbibucket/halvade/halvade_bootstrap.sh"
emr_type="c3.4xlarge"
emr_ami_v="3.8.0"
tmp="/mnt/halvade/"
# tmp should be set to this for S3 because this folder is created with a bootstrap action
